<html>

    <head>

        <script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript"
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<style>
:target {
    border: 2px solid #D4D4D4;
    background-color: #e5eecc;
}



a.simple:link {display:inline;width:120px;font-weight:normal;color:#0000FF;background-color:transparent;text-align:right;padding:0px;text-decoration:none;text-transform:none;}
a.simple:visited {display:inline;width:120px;font-weight:normal;color:#0000FF;background-color:transparent;text-align:right;padding:0px;text-decoration:underline;text-transform:none;}
a.simple:hover {display:inline;width:120px;font-weight:normal;color:#0000FF;background-color:transparent;text-align:right;padding:0px;text-decoration:underline;text-transform:none;}
</style>



        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Sarosh Adenwalla</title>
        <meta name="description" content="Sarosh Adenwalla academic profile.">
        <meta name="keywords" content="sarosh, adenwalla, warwick, liverpool, combinatorics, discrete, graph, number theory, Sylvester, Zamareav">
        <link rel="stylesheet" href="main.css">
    </head>
